<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">


    <meta property="og:url" content="http://omnomfrickinnom.com/">
    <meta property="og:title" content="Om Nom Frickin Nom (dot) Com About">
    <meta property="og:description" content="Badly written rambling by a Northern eejit, mostly about pies">
    <meta property="og:image" content="http://omnomfrickinnom.com/images/pizza_steam.jpg">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="http://omnomfrickinnom.com/">
    <meta name="twitter:description" content="Badly written rambling by a Northern eejit, mostly about pies">
    <meta name="twitter:app:country" content="uk">

</head>
